body {
  background-color: #4e0ec5;
  background-image: url(816f23c32fdb8f9a2131bb2adaec8a40.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

